!bin
!bin/main.h
!bin/main.c
!bin/main.cpp

!doc
!doc/favicon.ico

libstoneydsp.d
libstoneydsp.so
libstoneydsp.a
libstoneydsp.dll
libstoneydsp.dll.a
libstoneydsp.dylib

install
build
dist
out

vcpkg_installed

.cmake
CMakeFiles
cmake_install.cmake
CMakeCache.txt
compile_commands.json

node_modules
